<div style="background-color: var(--theme-1)" class="fixed-bottom">
    <footer class="container d-flex text-light">
        <details class="flex-grow-1 text-center" >
            <summary style="list-style: none;">
                contact us
            </summary>
            <ul style="list-style: none;">
                <li>0x-xxxx xxxx</li>
                <li>test@test.com</li>
            </ul>
        </details>
        <details class="flex-grow-1">test</details>
        <details class="flex-grow-1">test</details>
    </footer>
</div>