<div style="background-color: var(--theme-1)">
    <footer class="container text-light">
        <p class='lead text-info'>About us</p>
        <p>TroliMart system is intended to help the consumers to manage grocery shopping list before going to the
            shop to purchase the products.
        </p>
        <p class='d-flex gap-3'>
            <a href="" class='text-info'>
                Facebook
            </a>
            <a href="" class='text-info'>
                Instagram
            </a>
        </p>
        <p class=mb-0>Any issues ? Email us here and we will get back to you as soon as possible: <a class='text-info'
                href="mailto:customerservice@TroliMart.com.my">customerservice@TroliMart.com.my</a></p>
    </footer>
</div>